<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }

        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>

    <style type="text/css">
        #allmap {
            height: 800px;
            width: 100%;
        }

        #allmap2 {
            height: 300px;
            width: 100%;
        }

    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>地址管理
            <small>地址管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>公司分布图</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div>
        <div class="app-container">
            <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="分布图" name="first">
                    <div id="allmap" ref="allmap"></div>
                </el-tab-pane>

                <el-tab-pane label="详细信息" name="second">
                    <!-- 地址增删改查-->
                    <div class="app-container">

                        <div class="box">
                            <div class="filter-container">
                                <el-input placeholder="公司地址" v-model="pagination.queryString" style="width: 200px;"
                                          class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                                <el-button @click="findPage(1)" class="dalfBut">查询</el-button>
                                <el-button type="primary" class="butT" @click="dialogTableVisible = true">新建</el-button>
                            </div>
                            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                                <el-table-column type="index" align="center" label="序号"></el-table-column>
                                <el-table-column prop="address" label="公司地址" align="center"></el-table-column>
                                <el-table-column prop="longitude" label="经度" align="center"></el-table-column>
                                <el-table-column prop="dimension" label="维度" align="center"></el-table-column>
                                <el-table-column label="操作" align="center">
                                    <template slot-scope="scope">
                                        <el-button type="primary" size="mini" @click="handlerDelete(scope.row)">删除
                                        </el-button>
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <div class="pagination-container">
                                <el-pagination
                                        class="pagiantion"
                                        @current-change="handleCurrentChange"
                                        :current-page="pagination.currentPage"
                                        :page-size="pagination.pageSize"
                                        layout="total, prev, pager, next, jumper"
                                        :total="pagination.total">
                                </el-pagination>
                            </div>
                            <!-- 角色添加-->
                            <!-- 添加修改功能 //-->
                            <div class="add-form">
                                <el-dialog title="新增地址" :visible="dialogTableVisible" @open="test"
                                           @close="dialogTableVisible = false"
                                           style="width: 100%">
                                    <el-form ref="dataAddForm" :model="formData" label-position="right"
                                             label-width="100px">
                                        <div class="filter-container" id="r-result2">
                                            <el-select v-model="formData.site"
                                                       :remote-method="remoteMethod"
                                                       reserve-keyword
                                                       style="width: 500px"
                                                       remote
                                                       filterable placeholder="请选择">
                                                <el-option
                                                        v-for="item in options"
                                                        :label="item.name"
                                                        :value="item.uid">
                                                    <span style="float: left">{{ item.name }}</span>
                                                    <span style="float: right; color: #8492a6; font-size: 13px">
                                                        {{item.province+"-"+item.city+"-"+item.district}}</span>
                                                </el-option>
                                            </el-select>
                                            <el-button type="primary" class="butT" @click="handlerCreate()">确定添加
                                            </el-button>
                                        </div>
                                        <div id="allmap2" ref="allmap2"></div>
                                    </el-form>
                                </el-dialog>

                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gxK1MT16wVAlyoIEMrMhDuR0s2KoR0iW"></script>
<script>
    var Vue = new Vue({
        el: "#app",
        data() {
            return {
                activeName: 'first',
                pagination: {//分页参数
                    currentPage: 1,
                    pageSize: 10,
                    queryString: '',
                    total: 100
                },
                dataList: [],
                dialogTableVisible: false,
                address: '',
                options: [],
                formData: {},
                addressList: []
            }
        },
        methods: {
            //地址搜索
            remoteMethod(val) {
                this.options = [];
                //query=珊瑚高科&region=永州&city_limit=true&output=json&ak=gxK1MT16wVAlyoIEMrMhDuR0s2KoR0iW
                this.$http.jsonp("http://api.map.baidu.com/place/v2/suggestion", {
                    params: {
                        query: val,
                        region: '湖南',
                        city_limit: 'false',
                        output: 'json',
                        ak: 'gxK1MT16wVAlyoIEMrMhDuR0s2KoR0iW',
                        jsonp: 'handleCallback'
                    }
                }).then(resp => {
                    this.options = resp.data.result;
                })
            },
            test() {
                this.map2();
            },
            //分页查询
            findPage() {
                axios.post("/site/findPage.do", this.pagination).then(resp => {
                    if (resp.data.flag) {
                        this.dataList = resp.data.data.rows;
                        this.pagination.total = resp.data.data.total
                    }
                })
            },
            //地址删除
            handlerDelete(row) {
                let id = row.id;
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete("/site/delete.do?id="+id).then(resp => {
                        this.$message({
                            type: resp.data.flag ? 'success' : 'error',
                            message: resp.data.message
                        })
                        this.restForm();

                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //重置表单
            restForm() {
                this.formData = {};
                this.findPage();
            },
            //添加地址
            handlerCreate() {
                let find = this.options.find(item => item.uid == this.formData.site);
                let obj = new Object();
                /*  province: "湖南省"
                  city: "永州市"
                  district: "冷水滩区"*/
                obj.address = find.province.concat("-", find.city).concat("-", find.district).concat("-", find.name);
                obj.longitude = find.location.lat;
                obj.dimension = find.location.lng;
                this.$http.post("/site/add.do", obj).then(resp => {
                    this.$message({
                        type: resp.data.flag ? 'success' : 'error',
                        message: resp.data.message
                    })
                    if (resp.data.flag) {
                        this.restForm();
                    }

                })
            },
            handleClick() {

            },
            //换页
            handleCurrentChange(val) {//换页
                this.pagination.currentPage = val;
                this.findPage();
            },
            //添加地图位置
            map2() {
                this.$nextTick(() => {
                    //此时能够调到ref，而且table也正常刷新了
                    // 百度地图API功能
                    // 百度地图API功能


                    var map = new BMap.Map(this.$refs.allmap2);
                    map.centerAndZoom("湖南", 15);                   // 初始化地图,设置城市和地图级别。

                    // 添加带有定位的导航控件
                    var navigationControl = new BMap.NavigationControl({
                        // 靠左上角位置
                        anchor: BMAP_ANCHOR_TOP_LEFT,
                        // LARGE类型
                        type: BMAP_NAVIGATION_CONTROL_LARGE,
                        // 启用显示定位
                        enableGeolocation: true
                    });
                    map.addControl(navigationControl);
                    // 添加定位控件
                    var geolocationControl = new BMap.GeolocationControl();
                    geolocationControl.addEventListener("locationSuccess", function (e) {
                        // 定位成功事件
                        var address = '';
                        address += e.addressComponent.province;
                        address += e.addressComponent.city;
                        address += e.addressComponent.district;
                        address += e.addressComponent.street;
                        address += e.addressComponent.streetNumber;
                        alert("当前定位地址为：" + address);
                    });
                    geolocationControl.addEventListener("locationError", function (e) {
                        // 定位失败事件
                        alert(e.message);
                    });
                    map.addControl(geolocationControl);
                });
            },
            //重新定位
            mapRest(item) {//pp添加标注
                let map = new BMap.Map(this.$refs.allmap2); // 创建Map实例
                map.clearOverlays();    //清除地图上所有覆盖物
                map.centerAndZoom(item.city, 11);
                console.log(item)
                let new_point = new BMap.Point(item.location.lng, item.location.lat)
                let marker = new BMap.Marker(new_point);  // 创建标注
                map.addOverlay(marker);              // 将标注添加到地图中
                map.panTo(new_point); //移动到该位置

                // 添加带有定位的导航控件
                var navigationControl = new BMap.NavigationControl({
                    // 靠左上角位置
                    anchor: BMAP_ANCHOR_TOP_LEFT,
                    // LARGE类型
                    type: BMAP_NAVIGATION_CONTROL_LARGE,
                    // 启用显示定位
                    enableGeolocation: true
                });
                map.addControl(navigationControl);
                // 添加定位控件
                var geolocationControl = new BMap.GeolocationControl();
                geolocationControl.addEventListener("locationSuccess", function (e) {
                    // 定位成功事件
                    var address = '';
                    address += e.addressComponent.province;
                    address += e.addressComponent.city;
                    address += e.addressComponent.district;
                    address += e.addressComponent.street;
                    address += e.addressComponent.streetNumber;
                    alert("当前定位地址为：" + address);
                });
                geolocationControl.addEventListener("locationError", function (e) {
                    // 定位失败事件
                    alert(e.message);
                });
                map.addControl(geolocationControl);
            }
            ,
            map() {
                let map = new BMap.Map(this.$refs.allmap); // 创建Map实例
                // 百度地图API功能
                map.centerAndZoom(new BMap.Point(111.59244, 26.46098), 11);
                var point;
                var marker;
                var label;
                this.addressList.forEach((item, index) => {
                    //添加坐标
                    point = new BMap.Point(item.dimension, item.longitude);
                    map.centerAndZoom(point, 15);
                    marker = new BMap.Marker(point);  // 创建标注
                    map.addOverlay(marker);              // 将标注添加到地图中

                    label = new BMap.Label((index + 1 + " : ") + item.address, {offset: new BMap.Size(20, -10)});
                    marker.setLabel(label);
                })
                // 添加带有定位的导航控件
                var navigationControl = new BMap.NavigationControl({
                    // 靠左上角位置
                    anchor: BMAP_ANCHOR_TOP_LEFT,
                    // LARGE类型
                    type: BMAP_NAVIGATION_CONTROL_LARGE,
                    // 启用显示定位
                    enableGeolocation: true
                });
                map.addControl(navigationControl);
                // 添加定位控件
                var geolocationControl = new BMap.GeolocationControl();
                geolocationControl.addEventListener("locationSuccess", function (e) {
                    // 定位成功事件
                    var address = '';
                    address += e.addressComponent.province;
                    address += e.addressComponent.city;
                    address += e.addressComponent.district;
                    address += e.addressComponent.street;
                    address += e.addressComponent.streetNumber;
                    alert("当前定位地址为：" + address);
                });
                geolocationControl.addEventListener("locationError", function (e) {
                    // 定位失败事件
                    alert(e.message);
                });
                map.addControl(geolocationControl);
            },
            getAddress() {
                //获取存储过得地址
                axios.get('/site/all.do').then((resp) => {
                    try {
                        this.addressList = resp.data.data;
                    } finally {
                        this.map();
                    }
                })
            }
        },
        watch: {
            activeName(val) {
                if (val == 'second') {
                    this.findPage(1);
                } else if (val == 'first') {
                    this.getAddress();
                }
            },
            formData: {
                handler(newValue, oldValue) {
                    if (newValue != null && newValue != '') {
                        let find = this.options.find(item => item.uid == this.formData.site);
                        this.mapRest(find);
                    }
                },
                deep: true,
                //immediate:true,
            }
        },
        created() {
            this.findPage();
        },
        mounted() {
            this.getAddress();
        }
    })
</script>
</html>
