<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }

        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>预约管理
            <small>预约管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
            <el-breadcrumb-item>用户列表</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="用户名" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                <el-button @click="findPage(1)" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="username" label="用户名" align="center"></el-table-column>
                <el-table-column label="性别" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.gender == '0' ? '男' : '女'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="birthday" label="出生日期" align="center"></el-table-column>
                <el-table-column prop="telephone" label="电话号码" align="center"></el-table-column>
                <el-table-column prop="remark" label="描述" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">添加角色</el-button>
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 角色添加-->
            <div>
                <el-dialog
                        title="添加角色"
                        :visible.sync="roleSwitch"
                        :before-close="handleClose">
                    <el-table :data="roleList" size="small" current-row-key="id"
                              @selection-change="handleSelectionChange"
                              ref="multipleTable"
                              stripe highlight-current-row>
                        <el-table-column property="id" label="序号" width="150"></el-table-column>
                        <el-table-column property="name" label="姓名" width="200"></el-table-column>
                        <el-table-column property="keyword" label="角色关键词"></el-table-column>
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                    </el-table>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="roleSwitch = false">取 消</el-button>
                        <el-button type="primary" @click="handlerAddRole">确 定</el-button>
                    </span>
                </el-dialog>
            </div>
            <!-- 新增标签弹层 -->
            <!-- 添加修改用户-->
            <div class="add-form"><!--
                <el-dialog :title="isEdit?'添加用户':'修改用户'" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px" :rules="rules" ref="sss"
                                         :model="formData">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="姓名" prop="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="身份证号" prop="idCard">
                                                <el-input v-model="formData.idCard"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="出生日期" prop="birthday">
                                                <el-date-picker type="date" placeholder="选择日期"
                                                                value-format="yyyy-MM-dd"
                                                                v-model="formData.birthday"
                                                                style="width: 100%;"></el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="手机号" prop="phoneNumber">
                                                <el-input v-model="formData.phoneNumber"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="性别" prop="sex">
                                                <el-select v-model="formData.sex" placehodler="请选择">
                                                    <el-option label="不限" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>

                                        <el-col :span="12">
                                            <el-form-item label="预约时间" prop="orderDate">
                                                <el-date-picker v-model="formData.orderDate" type="date"
                                                                value-format="yyyy-MM-dd"
                                                                placeholder="选择日期" style="width: 100%;"
                                                />
                                            </el-form-item>
                                        </el-col>

                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="套餐信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>套餐名称</th>
                                            <th>使用人群</th>
                                            <th>套餐介绍</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="setmealIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.id}}</label></td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label>{{c.sex == '0' ? '不限': c.sex == '1' ?'男':'女'}}</label></td>
                                            <td><label :for="c.id">{{c.remark}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            --></div>
        </div>
    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data() {
            var checkphone = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('手机号不能为空'));
                } else {
                    const reg = /^1[3|4|5|7|8][0-9]\d{8}$/
                    if (reg.test(value)) {
                        callback();
                    } else {
                        return callback(new Error('请输入正确的手机号'));
                    }
                }
            };
            var checkBithday = (rule, value, callback) => {
                let date = new Date();
                if (date < value) {
                    return new callback(new Error('出生日期大于当前日期'));
                }
                callback();
            };
            return {
                pagination: {
                    currentPage: 1,
                    pageSize: 10,
                    total: 100,
                    queryString: null,

                },
                setmealIds: [],
                dataList: [],//存放数据
                dialogFormVisible: false,
                isEdit: true,
                formData: {},
                roleSwitch: false,
                userId: '',
                roleList: [],//角色数组
                roleIds: [],
                activeName: 'first',//选择tab页
                rules: {
                    idCard: [
                        {required: true, message: "身份证不能为空", trigger: 'blur'}
                    ],
                    telephone: [
                        {validator: checkphone, trigger: 'blur'},
                    ],
                    username: [
                        {required: true, message: "用户名无能为空", trigger: "blur"}
                    ],
                    birthday: [
                        {type: 'date', required: true, trigger: 'change', validator: checkBithday}
                    ],
                    gender: [
                        {required: true, message: '请选择性别', trigger: 'change'}
                    ]
                },
                tableData: [],//套餐信息
            }
        },
        methods: {
            //分页查询
            findPage(current) {
                this.pagination.currentPage = current;
                axios.post("/user", this.pagination).then((resp) => {
                    this.dataList = resp.data.rows;
                    this.pagination.total = resp.data.total;
                })
            },
            //回显数据
            handleUpdate(row) {
                this.roleSwitch = true
                this.userId = row.id;
                axios.get("/role").then(resp => {
                    this.roleList = resp.data
                    axios.get("/user?id=" + row.id).then(resp => {
                        console.log(resp)
                        let role = resp.data;
                        this.roleList.forEach(row => {
                            role.forEach(item => {
                                if (row.id == item.id) {
                                    this.$refs['multipleTable'].toggleRowSelection(row);
                                }
                            })
                        })
                    })
                })
            },
            handleDelete(row) {

            },
            handleCurrentChange(val) {//换页
                this.pagination.currentPage = val;
                this.findPage();
            },
            //点击新建按钮
            handleCreate() {
                this.formData = {},
                    this.isEdit = true;
                this.dialogFormVisible = true;
            },
            //确定添加
            handleAdd() {
                this.$refs["sss"].validate((valid) => {

                })
            },
            //重置表单
            resetForm() {
                this.roleSwitch = false;
                this.roleIds = []
            },
            //修改角色
            handlerAddRole() {
                axios.post('/user/edit?id=' + this.userId, this.roleIds).then((resp) => {
                    this.$message({
                        type: resp.data.flag ? 'success' : 'error',
                        message: resp.data.message
                    })
                    if (resp.data.flag) {
                        this.roleSwitch = false;
                    }
                })
            },
            handleClose() {
                this.roleSwitch = false;
            },
            handleSelectionChange(val) {
                let ids = val.map(item => {
                    return item.id
                })
                this.roleIds = ids;
            }
        },
        created() {
            this.findPage(1);
        },
        watch: {
            activeName(val) {
                if (val == 'second') {

                }
            }
        }

    })
</script>
</html>
